@import "../foundation/setting.scss";

.mv {
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($color: $black, $alpha: 0.5),$black);
    top: 0;
    left: 0;
  }
  &__box {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 5%;
  }
  &__title {
    font-weight: bold;
    font-size: 15vw;
    text-align: center;

    span {
      background: -webkit-linear-gradient(0deg, $pink, $green);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.05em;
    }
  }
  &__intro {
    color: $white;
    font-size: 2vmin;
    line-height: 1.5;
    width: 50%;
    margin-left: auto;
    border-left: 2px solid $white;
    padding: 1.5em;
    opacity: .5;
  }
}
